# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VS Code (keep extensions recommendations, ignore the rest)
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.bin
*.elf
*.map
